@import url("loader.css");
@import url("terminal.css");
@import url("https://cdn.rawgit.com/IonicaBizau/bag.css/gh-pages/dist/bag.all.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/gridly/1.4.5/prefixed/gridly.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.1.1/sweetalert2.min.css');

body {
    background: #2c3e50;
    color: #ecf0f1;
}

body, pre, .swal2-modal .swal2-title, button, .swal2-modal .swal2-content, input {
    font-family: 'Roboto Mono', monospace;
}

pre {
    font-size: 0.8em;
}

.grid {
    display: inline-block;
}
.square {
    background: #f1c40f;
    margin: 1px;
    display: inline-block;
    float: left;
    position: relative;
    cursor: crosshair;
}

.row {
    clear: both;
}

.square.plane-point {
    background: #c0392b;
}

.square.opponent-plane-point {
    background: yellow;
}

.square.empty-point {
    opacity: .2;
}

.square.my-plane-hit {
    background: orange;
}

.square.hit-by-opponent::after {
    content: "\d7";
    position: relative;
    top: -50%;
    text-align: center;
}

.waiting-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E0E0CE;
}

.square.hit-by-opponent::after {
    content: "\d7";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 28px;
    color: #fff;
    transform: translateX(-50%) translateY(-50%);
}

.box {
    transform: scale(0.3);
}

.msg-red {
    color: red;
}

span.console-important {
    color: #AD343E;
}

span.console-success {
    color: #87A878;
}

span.console-warning {
    color: #F2AF29;
}

span.console-info {
    color: #E0E0CE;
}

pre#logs {
    background: black;
    padding: 21px;
    word-break: break-word;
    white-space: pre-wrap;
}

.blink {
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.loading-text-wrapper {
    position: fixed;
    background: #c0392b;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
}

.loading-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ecf0f1;
}

.hide { display: none; }

button.choose-plane-location {
    background: #ecf0f1;
    border: none;
    padding: 6px;
    margin-top: 6px;
    cursor: pointer;
}

.swal2-modal .swal2-title {
    font-size: 0.8em !important;
    line-height: 21px;
}

img[data-orientation] {
    width: 20%;
    margin: 3px;
    vertical-align: middle;
    opacity: 1;
    cursor: pointer;
}

input.share-url {
    border: 3px solid #3085d6;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 18px;
}
